
! https://wiki.haskell.org/Xmonad/Frequently_asked_questions#Emacs_mini-buffer_starts_at_wrong_size
Emacs.font: DejaVu Sans Mono-11.5
Emacs.menuBar: off
Emacs.toolBar: off
Emacs.verticalScrollBars: off
Emacs.leftFringe: 2
Emacs.rightFringe: 2

XTerm*termName: xterm-256color

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! URxvt*font: xft:Inconsolata-13
URxvt*font: xft:DejaVu Sans Mono:size=11
URxvt*scrollBar: false
URxvt*background: grey80
Urxvt*foreground: black
Urxvt*depth: 32
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.keysym.C-semicolon: \033[;
URxvt.keysym.C-comma:     \033[,
URxvt.keysym.C-period:    \033[.
URxvt.keysym.C-dollar:    \033[$
URxvt.keysym.C-percent:   \033[%
URxvt.keysym.C-equal:     \033[=

URxvt*color0:             #2e3436
URxvt*color8:             #7e807b
! red dark/light
URxvt*color1:             #cc0000
URxvt*color9:             #ef2929
! green dark/light
URxvt*color2:             #4e9a06
URxvt*color10:            #8aa234
! yellow dark/light
URxvt*color3:             #edd400
URxvt*color11:            #fce94f
! blue dark/light
URxvt*color4:             #3465a4
URxvt*color12:            #729fcf
! magenta dark/light
URxvt*color5:             #92659a
URxvt*color13:            #c19fbe
! cyan dark/light
URxvt*color6:             #07c7ca
URxvt*color14:            #63b9b9
! white dark/light
URxvt*color7:             #d3d7cf
URxvt*color15:            #eeeeec

! URxvt.perl-ext-common : default,matcher,tabbed
! URxvt.macher.button : 1
URxvt.urlLauncher : firefox
